<!-- Container (The Band Section) -->
<div id="band" class="container text-center">
        <h3>THE Deft</h3>
        <p><em>We love coding!</em></p>
        <p>We get off the ground in the year 2005 with a mission to bring the change in the IT world with our innovative Web Solutions. The initiative and collaboration of a handful of employees successfully made the organization gain tremendous growth in its starting year, which strengthened our very foundation.</p>
        <br>
      
        <!-- ////////////////////////////////////////////////////////////////////// -->
        <div class="row">
          <div class="col-sm-4">
            <p class="text-center"><strong>Mr. AMANEET BRAR</strong></p><br>
            <a href="#demo" data-toggle="collapse">
              <img src="/images/icon.png" class="img-circle person" alt="Mr.AMANEET BRAR" width="255" height="255">
            </a>
            <div id="demo" class="collapse">
              <p>Managing Director</p>
              <p>Co-Founder</p>
              <p>Founded Deft 2005</p>
            </div>
          </div>
          <div class="col-sm-4">
            <p class="text-center"><strong>Mr. AMANINDER BRAR</strong></p><br>
            <a href="#demo2" data-toggle="collapse">
              <img src="/images/icon.png" class="img-circle person" alt="Mr. AMANINDER BRAR" width="255" height="255">
            </a>
            <div id="demo2" class="collapse">
              <p>Director Of Operations</p>
              <p>Co-Founder</p>
              <p>Founded Deft 2005</p>
            </div>
          </div>
          <div class="col-sm-4">
            <p class="text-center"><strong>Mr. PANKAJ BRAR </strong></p><br>
            <a href="#demo3" data-toggle="collapse">
              <img src="/images/icon.png" class="img-circle person" alt="Mr. PANKAJ BRAR " width="255" height="255">
            </a>
            <div id="demo3" class="collapse">
              <p>Project Manager</p>
              <p>Head Member</p>
              <p>Member since 2006</p>
            </div>
          </div>
        </div>
      </div>