
<!-- Footer -->

        <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
          <span class="glyphicon glyphicon-chevron-up"></span>
        </a><br><br>
        <p>website Made By <a href="https://www.google.com" data-toggle="tooltip" title="ANIL KUMAR">Anil kumar</a></p> 
        <p class="text-center text-muted">© Copyright Anil kumar</p>
    
