<html>
<body>

  <center><h4>Click the Button</h4></center><br>

   <center><a href="login"> <input type="button" onclick="login" value="Login" /></a></center><br>


  <center> <a href="register"> <input type="button" onclick="register" value="Register" /></a></center>

 
</body>
</html>


