<html>
    <head>
        <title>
            login success
        </title>
    </head>
    <body>
        <center>
            <h1>
                Login Succesfully :) <br>
                <br/> <a href="logout"> <input type="button" onclick="logout" value="Logout" /></a>
            </h1>
        </center>
    </body>
</html>