<html>
    <head>
        <title>
            Logout success
        </title>
    </head>

    <body>
        <center>
            <h3>
                Logout Succesfully.
            </h3>
            <br/><p> click to login   <a href="login"> <input type="button" onclick="login" value="click to Login" /></a></p>

        </center>
    </body>
</html>