
<html>
    <head>
        <title>
            sucess
        </title>
    </head>

    <body>
        <center>
        <h2>
            Registeration is Succesfully Recorded.<br>
           <br/> <a href="login"> <input type="button" onclick="login" value="click to Login" /></a>
        </h2>
    </center>
    </body>
</html>