<html>
        
<div class="container text-center">
    <head>
        <% include ../partials/head %>
        <title>About </title>
        
        
        </head>
        <div class="row">
            <header>
                    <% include ../partials/header %>
            </header>

            <body>
                <h3>
                    Contact page will update soon.
                </h3>
            </body>
            </div>
        </div>
    
</html>