<html>
    <div class="container text-center">
    <head>

        <% include ../partials/head %>
        <title>
            Logout success
        </title>
    </head>
    <div class="row"> 
    <body>
        <center>
            <h3>
                Logout Succesfully.
            </h3>
            <br/><p> click to login   <a href="loginpage"> <input type="button" onclick="login" value="click to Login" /></a></p>

        </center>
    </body>

    </div>
    
</html>