<html>
        <div class="container text-center">
    <head>
            <% include ../partials/head %>
        <title>
            login failed
        </title>
    </head>
    <div class="row">
    <body>
        <center>
            <h1>
                Password not match ("_") <br>
                <br/> Please <p><a href="loginpage"> Try again </a></p>
            </h1>
        </center>
    </body>

    </div>
    
</html>
 
