
    
<html>
        <div class="container text-center">
    <head>

            <% include ../partials/head %>
        <title>
            sucess
        </title>
    </head>
    <div class="row">

    <body>
        <center>
        <h2>
            Registeration is Succesfully Recorded.<br>
           <br/>
           
           <a href="loginpage"> <input type="button" onclick="login" value="click to Login" /></a>
        </h2>
        </center>

        <footer class="text-center">
                <% include ../partials/footer %>
        </footer>
    </body>
    </div>
   
</html>
