
<html>
    <div class="container text-center">
<head>
        <% include ../partials/head %>
        <title>Register test </title>
        
        
        </head>
        <div class="row">
            <header>
                    <% include ../partials/header %>
            </header>

        <body>
        
                 <form action="/submit" method="post">
                
      <div>
        <fieldset>
            <center>
            
               <br/> <label for="name">Name: </label>
                <input type="text" id="name" name="name" autofocus /> <br/>
            
              <br/>  <label for="email">Email: </label>
                <input type="email" id="email" name="email"  /><br/>
            
           <br/> <label for="password"> Password : </label>
                <input type="password" id="password" name="password" /><br/>
                
            
               <br/> <input type="submit" value="create profile" />
            
            </center>
               
            

        </fieldset>
    </div>
           
    </form>
        <div>
                <br/><p>Already Register User click to  <a href="loginpage">  Login </a>
               
           </div>


    </div>
        
        </body>
    </div>
        </html>
        